---
title: "<tmpl_var title>"
etr: <tmpl_var etr>
modified: <tmpl_var modified>
backlink: <tmpl_var backlink>
backlink-title: "<tmpl_var backlink_title>"
fn-stub: about
---

### <tmpl_var provenance>
# <tmpl_var title>

<tmpl_if is_geo><tmpl_include     name="geo_category_info.md.inc"></tmpl_if>
<tmpl_if is_subject><tmpl_include name="subject_category_info.md.inc"></tmpl_if>
<tmpl_if is_ware><tmpl_include    name="ware_category_info.md.inc"></tmpl_if>

<tmpl_var lines>

