---
title: "<tmpl_var label>"
modified: <tmpl_var modified>
backlink: <tmpl_var backlink>
backlink-title: "<tmpl_var backlink_title>"
fn-stub: about
---

### <tmpl_var provenance> - <tmpl_var coll><tmpl_if is_de>-Mappen</tmpl_if><tmpl_if is_en> folders</tmpl_if>
# <tmpl_var label>&#160; <tmpl_if wdlink>[![Wikidata item](/images/Wikidata-logo.svg){.inline-icon}](<tmpl_var wdlink>)</tmpl_if>
<tmpl_if from_to>## (<tmpl_var from_to>)</tmpl_if>

**[<tmpl_if is_de>Dokumente anzeigen</tmpl_if><tmpl_if is_en>View documents</tmpl_if>](<tmpl_var dfgview_url>)** (<tmpl_var doc_counts>)

<tmpl_if scope_note>
> Scope Note: <tmpl_var scope_note>
</tmpl_if>

<tmpl_if note><tmpl_var note></tmpl_if>

::: {.fieldtable}

 | 
--:|-----
<tmpl_if location><tmpl_if is_de>Sitz</tmpl_if><tmpl_if is_en>Location</tmpl_if>|<tmpl_var location></tmpl_if>
<tmpl_if gnd>GND|[<tmpl_var gnd>](https://d-nb.info/gnd/<tmpl_var gnd>)</tmpl_if>
URI|[<tmpl_var folder_uri>](<tmpl_var folder_uri>)
ID| <tmpl_var fid>

:::

