---
title: "<tmpl_var label>"
modified: <tmpl_var modified>
backlink: <tmpl_var backlink>
backlink-title: "<tmpl_var backlink_title>"
fn-stub: <tmpl_var fn_stub> 
---

### <tmpl_var provenance>
# <tmpl_var label>

<tmpl_if is_with_docs>_<tmpl_if is_de>Metadaten für weitere Mappen (ohne digitalisierte Dokumente) [hier](without_docs.de.html).</tmpl_if><tmpl_if is_en>Metadata about additional folders (without digitized documents) are [here](without_docs.en.html)</tmpl_if>_</tmpl_if>
<tmpl_if is_without_docs>_<tmpl_if is_de>Für alle hier aufgeführten Mappen gibt es nur Metadaten, keine digitalisierten Dokumente.</tmpl_if><tmpl_if is_en>Only metadata for these folders, no digitized documents.</tmpl_if>_</tmpl_if>

<tmpl_if collection_wa>
<tmpl_if is_de>Für eine strukturiertere Auswahl, siehe <a href="http://webopac.hwwa.de/pressemappe20/Digiview_MENU.cfm?T=W&W=x">PM20 Altanwendung</a>.</tmpl_if>
<tmpl_if is_en>For a more structured selection, see <a href="http://webopac.hwwa.de/pressemappe20/Digiview_MENU.cfm?T=W&W=x">PM20 legacy application</a>.</tmpl_if>
</tmpl_if>

<div class="spacer">&#160;</div>

<tmpl_loop tab_loop>[<tmpl_var startchar>](#id_<tmpl_var startchar>)&#160;
</tmpl_loop>

<div class="spacer">&#160;</div>

<tmpl_loop startchar_loop>
###  <tmpl_var startchar><a name="id_<tmpl_var startchar>">
<tmpl_loop folder_loop>* [<tmpl_var label>](<tmpl_var path>) <tmpl_if from_to>(<tmpl_var from_to>)</tmpl_if>
</tmpl_loop>
<div class="hint"><a href="#top"><tmpl_if is_de>nach oben</tmpl_if><tmpl_if is_en>top</tmpl_if></a></div>
<div class="spacer">&#160;</div>
</tmpl_loop>

