---
title: "<tmpl_var label>"
modified: <tmpl_var modified>
backlink: <tmpl_var backlink>
backlink-title: "<tmpl_var backlink_title>"
fn-stub: about
---

### <tmpl_var provenance>
# <tmpl_var label><tmpl_if is_de>-Mappen</tmpl_if><tmpl_if is_en> folders</tmpl_if>

<div class="spacer">&#160;</div>

<tmpl_loop tab_loop>[<tmpl_var startchar>](#id_<tmpl_var startchar>)&#160;
</tmpl_loop>

<div class="spacer">&#160;</div>

<tmpl_loop startchar_loop>
###  <tmpl_var startchar><a name="id_<tmpl_var startchar>">
<tmpl_loop folder_loop>* [<tmpl_var label>](<tmpl_var path>) <tmpl_if from_to>(<tmpl_var from_to>)</tmpl_if>
</tmpl_loop>
<div class="hint"><a href="#top"><tmpl_if is_de>nach oben</tmpl_if><tmpl_if is_en>top</tmpl_if></a></div>
<div class="spacer">&#160;</div>
</tmpl_loop>

