{

  "@context": "http://iiif.io/api/image/3/context.json",
  "id": "<tmpl_var name='image_uri'>",
  "type": "ImageService3",
  "protocol": "http://iiif.io/api/image",
  "height": <tmpl_var name='height_A'>,
  "width": <tmpl_var name='width_A'>,
  "sizes": [
    {
      "height": <tmpl_var name='height_A'>,
      "width": <tmpl_var name='width_A'>
    },
    {
      "height": <tmpl_var name='height_B'>,
      "width": <tmpl_var name='width_B'>
    },
    {
      "height": <tmpl_var name='height_C'>,
      "width": <tmpl_var name='width_C'>
    }
  ],
  "profile": "level0",
  "extraFeatures": [
    "cors",
    "baseUriRedirect"
  ]
}
