{
  "@context": "http://iiif.io/api/presentation/3/context.json",
  "id": "<tmpl_var name='manifest_uri'>",
  "type": "Manifest",
  "label": {
    "en": [ "<tmpl_var name='folder_label_en'>" ],
    "de": [ "<tmpl_var name='folder_label_de'>" ]
  },
  "requiredStatement": {
    "label": {
      "en": [ "Attribution" ],
      "de": [ "Zuordnung" ]
    },
    "value": {
      "en": [ "Provided by ZBW - Leibniz Information Centre for Economics" ],
      "de": [ "Bereitgestellt von ZBW - Leibniz Informationszentrum Wirtschaft" ]
    }
  },
  "provider": [
    {
      "id": "https://www.zbw.eu",
      "type": "Agent",
      "homepage": [
        {
          "id": "<tmpl_var name='folder_uri'>",
          "type": "Text",
          "format": "text/html",
          "language": [ "en", "de" ]
        }
      ],
      "logo": [
        {
          "id": "https://www.zbw.eu/fileadmin/images/press/logos/logo-zbw.gif",
          "type": "Image",
          "format": "image/gif"
        }
      ]
    }
  ],
  "items": [
<tmpl_loop name='main_loop'>
    {
      "id": "<tmpl_var name='img_uri'>/c/<tmpl_var name='image_no'>",
      "type": "Canvas",
      "label": {
        "en": [ "<tmpl_var name='canvas_label_en'>" ],
        "de": [ "<tmpl_var name='canvas_label_de'>" ]
      },
      "height": <tmpl_var name='height'>,
      "width": <tmpl_var name='width'>,
      "thumbnail": [
        {
          "id": "<tmpl_var name='thumb_uri'>",
          "type": "Image",
          "format": "image/jpeg"
        }
      ],
      "items": [
        {
          "id": "<tmpl_var name='img_uri'>/ap/<tmpl_var name='image_no'>",
          "type": "AnnotationPage",
          "items": [
            {
              "id": "<tmpl_var name='img_uri'>/a/<tmpl_var name='image_no'>",
              "type": "Annotation",
              "motivation": "painting",
              "body": {
                "id": "<tmpl_var name='real_max_url'>",
                "type": "Image",
                "format": "image/jpeg",
                "height": <tmpl_var name='height'>,
                "width": <tmpl_var name='width'>
              },
              "target": "<tmpl_var name='img_uri'>/c/<tmpl_var name='image_no'>"
            }
          ]
        }
      ]
    }<tmpl_unless name='__last__'>,</tmpl_unless>
</tmpl_loop>
  ]
}

