---
title: "<tmpl_var title>"
modified: <tmpl_var modified>
backlink: <tmpl_var backlink>
backlink-title: "<tmpl_var backlink_title>"
fn-stub: about
---

### <tmpl_var provenance>
# <tmpl_var title>

<tmpl_if is_geo><tmpl_include     name="geo_category_info.md.inc"></tmpl_if>
<tmpl_if is_subject><tmpl_include name="subject_category_info.md.inc"></tmpl_if>
<tmpl_if is_ware><tmpl_include    name="ware_category_info.md.inc"></tmpl_if>

**[<tmpl_if is_de>Mappen-Suche</tmpl_if><tmpl_if is_en>Folder search</tmpl_if>](https://pm20-search.toolforge.org?lang=<tmpl_var lang>&amp;coll=<tmpl_if is_geo>sh_wa</tmpl_if><tmpl_if is_subject>sh</tmpl_if><tmpl_if is_ware>wa</tmpl_if>)** (via Wikidata)

<tmpl_loop tab_loop>[<tmpl_var startchar>](#id_<tmpl_var startchar>)&#160;
</tmpl_loop>

<tmpl_var lines>

